language: python
python:
  - 2.7
before_install:
  - echo OK
install:
  - sudo apt-get install git
  - pip install -r requirements.txt
  - pip install mkdocs
  - pip install Markdown
  - pip install ghp-import
script:
  - env/build.sh
  - ghp-import -n ${TRAVIS_BUILD_DIR}/src/site -m "update by travis-ci"
  - git push -qf https://${TOKEN}@github.com/${TRAVIS_REPO_SLUG}.git gh-pages
after_success:
  - echo OK
